#указываем lombok что именно этот config является рутовым.
#Теперь можем создавать lombok.config в разных модулях проекта т.е. переопределяя настройки
config.stopbubbling = true

lombok.copyableannotations += org.springframework.beans.factory.annotation.Value
lombok.copyableannotations += org.springframework.beans.factory.annotation.Qualifier